* {
    box-sizing: border-box;
    font-family: 'Sniglet', cursive;
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    display: flex;
    justify-content: center;
    padding-top: 4em;
   
   
}

.daytime {
    background-color: #AADAFA;
    background: #AADAFA -webkit-gradient(linear, left top, left bottom, from(#54A4C5), to(#AADAFA)) no-repeat;
}



.stars, .twinkling, .clouds {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.daytime .clouds {
    z-index: 2;
    background: transparent url('../images/daytime-clouds.png') repeat top center;
    animation: move-clouds-back 200s linear infinite;
}

.nighttime .stars {
    z-index: 0;
    background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.nighttime .twinkling {
    z-index: 1;
    background: transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
    animation: move-twink-back 200s linear infinite;
}

.nighttime .clouds {
    z-index: 2;
    background: transparent url('../images/night-clouds.png') repeat top center;
    animation: move-clouds-back 200s linear infinite;
}


.container {   
    z-index: 3;
    display: inline-block;
    background-color: #e6fcff;
    justify-content: center;     
    border-radius: 15px;
    box-shadow: 10px 10px 20px black;
    color: black;
    margin: 1em;
    padding: 1em;   
    text-shadow: 2px 2px 5px #5b6b6b;
    width: auto;
}
.weather-container {    
    text-align: center;   
   
}

.weather-description {    
    text-align: center;
    font-size: 70px;
}
.weather-icon-container {    
    text-align: center;      
}

img {
    width: 470px;
}

.temperature-value {   
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

    .temperature-value:hover {
        cursor: pointer;
        color: #ba6a96;
    }

.temperature-description {    
    text-align: center;
    padding: 15px;
    font-size: 40px;
}
.location {    
    text-align: center;
    padding: 15px;
    font-size: 40px;
}

.current-date {    
    text-align: center;
    padding: 15px;
    font-size: 40px;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@media only screen and (max-width: 600px) {   

    .container {
      width: 100%;    

    }

    img {
        width: 200px;
    }

    
    .weather-description {
        font-size: 20px;;
      
    }  

    .temperature-value {       
        font-size: 20px;        
    }

    .temperature-description {       
        font-size: 10px;
    }

    .location {       
        font-size: 10px;
    }

    .current-date {        
        font-size: 10px;
    }


}
