################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Personal-Portfolio-Webpage/config/applicationhost.config
/.vs/slnx.sqlite
