* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  position: fixed;
  top: 0;
}

.top-nav {
  width:100%;
  top: 0;
}

nav ul {
    overflow: hidden;
    width: 100%;
    background-color: #e2b7bc;
    color: white;
    text-align: right;
    transition: all 1s ease-in-out;
    font-size: 2em;
    font-family: 'Laila', serif;
    word-spacing: 5px;
    position: fixed;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a{
  text-decoration: none;
  color: inherit;
  
}

nav ul li:hover {
  background-color: #ad6d75;
  
}

.menu-bars {
  width: 100%;
  background-color: #9b6579;  
  padding: 20px 20px;
  cursor: pointer;
  color: #fff;  
  display: none;
}

.log {
    float: left;
    font-family: 'Sacramento', cursive;    
}


.myName {
    /*border: 2px solid;*/
    font-family: 'Sacramento', cursive;
    font-size: 2.5em;
    text-align: center;
    padding-top: 100px;
    margin-top: 100px;
    position: center;
}

.career-description {
    font-size: 20px;
    /*border: 2px solid;*/
    position: center;
}

.about-me-description {
    /*border: 2px solid;*/
    text-align: center;
    padding: 50px;
    margin: 50px;
    position: center;
}


p, h4 {
    font-family: 'Laila', serif;
    text-align: center;
}
.myProj {
  text-align: center;
}

.galleryP {
  display: flex;
}


.project-tile {
    /*border: 1px solid #a87482;*/
    width: 100%;
    padding: 20px;
}

.social-media-icons {
    padding: 10px;
    /*border: 1px solid #a87482;*/
    display: inline-flex;
    font-size: 1.5em;
    transition: all 0.3s ease;
}


    .social-media-icons a:hover {
        background-color: #000;
    }


.twitter, .google, .linkedin, .github {
    background: #457b8e;
    color: white;
    padding: 10px;
    margin: 1px;
    border-radius: 5px;
}

.facebook {
    background: #457b8e;
    color: white;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
}

footer {
  background-color: #e2b7bc;
  color: white;
  font-size: 1.5em;
}

@media screen and (max-width: 600px) {
   
    nav ul {
        position: fixed;
        max-height: 0px;
        top: 4em;
    }

        nav ul li {
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding: 15px;
            text-align: center;
        }
   

    .menu-bars {
        display: flex;
        position: fixed;
       
    }

    .log  {
        display: none;
    }

    .name-log {
        font-family: 'Sacramento', cursive;
        font-size: 2em;       
    }

    .fas {
        position: absolute;
        right: 10px;
    }

    .showing {
        max-height: 20em;
        position: fixed;
        top: 4em;
  }
  
 .galleryP {
   display: block;
  }
  
 footer {
   background-color: #9b6579; 
  }

    .social-media-icons {
        font-size: 1em;
    }

}
