* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  position: fixed;
  top: 0;
}

body {
    background-image: url('images/main-background.png');
   
}

.top-nav {
  width:100%;
  top: 0;
}

nav ul {
    overflow: hidden;
    width: 100%;
    background-color: #e2b7bc;
    color: white;
    text-align: right;
    transition: all 1s ease-in-out;
    font-size: 2em;
    font-family: 'Laila', serif;
    word-spacing: 5px;
    position: fixed;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a{
  text-decoration: none;
  color: inherit;
  
}

nav ul li:hover {
  background-color: #ad6d75;
  
}

.menu-bars {
  width: 100%;
  background-color: #9b6579;  
  padding: 20px 20px;
  cursor: pointer;
  color: #fff;  
  display: none;
}

.log {
    float: left;
    font-family: 'Sacramento', cursive;    
}


.myName {
    /*border: 2px solid;*/
    font-family: 'Sacramento', cursive;
    font-size: 2.5em;
    text-align: center;
    padding-top: 2.5em;
    margin-top: 1em;
    position: center;
}

.career-description {
    font-size: 20px;
    /*border: 2px solid;*/
    position: center;
}

.about-me-description {
    /*border: 2px solid;*/
    text-align: center;
    padding-top: 2em;
    padding-bottom: 4em;    
    position: center;
}


p, h4 {
    font-family: 'Laila', serif;
    text-align: center;
   
}

img {
    width: 300px;
}
.myProj {
    text-align: center;
    padding-top: 5em;
    margin-top: 5em;
}

.galleryP {
    display: flex;
    
}


.project-tile {
    /*border: 1px solid #a87482;*/
    width: 100%; 
   
}

#contact {
    padding-top: 2em;   
    text-align: center;
}

.social-media-icons {
    padding: 2em;
    /*border: 1px solid #a87482;*/
    display: inline-flex;
    font-size: 3em;
    transition: all 0.3s ease;
   
}


    .social-media-icons a:hover {
        background-color: #000;
    }


.twitter, .google, .linkedin, .github {
    background: #457b8e;
    color: white;
    padding: 10px;
    margin: 1px;
    border-radius: 5px;
}

.facebook {
    background: #457b8e;
    color: white;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
}

footer {
  background-color: #e2b7bc;
  color: white;
  font-size: 1.5em;
}

/*Extra small devices*/
@media only screen and (max-width: 600px) {
   
    nav ul {
        position: fixed;
        max-height: 0px;
        top: 4em;
    }

        nav ul li {
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding: 15px;
            text-align: center;
        }
   

    .menu-bars {
        display: flex;
        position: fixed;
       
    }

    .log  {
        display: none;
    }

    .name-log {
        font-family: 'Sacramento', cursive;
        font-size: 2em;       
    }

    .fas {
        position: absolute;
        right: 10px;
    }

    .showing {
        max-height: 20em;
        position: fixed;
        top: 4em;
    }

    .myName {
        font-size: 2em;
    }

    .about-me-description {
        /*font-size: ;*/ 
        padding: 0.5em;
        margin: 2em;
    }

    .galleryP {
        display: block;
        padding: 0.5em;
    }

    .project-tile {
       
    }

    footer {
        background-color: #9b6579;
    }

    .social-media-icons {
        font-size: 1em;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    nav ul {
        font-size: 1.5em;
        word-spacing: 1px;
           
    }

    .myName {
        padding: 2em;
    }

    .about-me-description {        
        text-align: center;
        padding: 1em;
        margin: 1em;
        position: center;
       
    }

    img {
        width: 200px;
    }
    
}

/*ipad pro */
@media only screen and (min-width: 1025px) and (max-width: 1365px) {

    .about-me-description {
        font-size: 25px;
        text-align: center;
        padding: 1em;
        margin: 1em;
        position: center;
    }

}
