* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  color: #59755b;
  font-family: 'Laila', serif;  
  /*text-shadow: 0 1px 0 #305232;*/   
}

html, body {
  height: 100%;
  margin: 0;
}

html { 
  font-size: 14px;  
}

body { 
  background: url("./images/bg-waterpaint-light.jpg") no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.tab-content {
  min-height: 100%;
  padding-bottom: 50px;
}

.tab-pane {
  padding: 20px;
  padding-bottom: 50px;
}

.navbar-custom {    
  background-color: transparent;   
}

.navbar-brand { 
  font-family: 'Sacramento', cursive;
  font-size: 35px; 
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #59755b;
}

/* change the link color and padding  */
.navbar-custom .navbar-nav .nav-link {
  color: #59755b;  
}

/* change the color and bg color of active or hovered links */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #608f63;
  background-color: transparent;
}

.custom-toggler .navbar-toggler {
  border-color: #59755b;
}

.custom-toggler .navbar-toggler-icon { 
  background-image: url( 
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(89, 117, 91)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button:focus {
  outline: none;
}

/*home page*/

.profile-image-wrapper {
  padding: 30px 0 5px 0; 
}

.profile-image {  
  width: 150px;  
  height: 150px;
  border-radius: 50%;  
  margin: 10px;
  object-fit: cover;
  object-position: center right;
}

.card { 
  background-color: transparent;
  border: none;
}

.card a {
  color: #59755b;
}

.myName {    
  font-family: 'Sacramento', cursive;
  font-size: 40px;   
}

/*About me page*/
.aboutMe-container {    
  background: rgba(255, 255, 255, 0.493);
  width: 300px;
  margin-top: 20px;  
}  

/*projects page*/
.card-container {
  margin-top: 50px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.footer {  
  height: 100px;
  margin-top: -50px;
  padding-top: 1rem;  
  width: 100%;   
  background-color: whitesmoke;
}

.fa-linkedin, .fa-github {
  font-size: 20px;
  padding-bottom: 5px;
}

/*small phones (280px)*/
@media (max-width: 280px) {
  .aboutMe-container {    
    width: 250px;   
  }
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 540px) and (max-width: 720px) { 
  html {
    font-size: 14px;    
  }  

  .navbar-brand {     
    font-size: 30px;       
  }
  
  /*About me page*/
  .aboutMe-container {    
    background: rgba(255, 255, 255, 0.493);
    width: 400px;   
  }

  /*project page*/
  

  .fa-linkedin, .fa-github {
    font-size: 20pxpx;
    padding-bottom: 15px;
  }  
  
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 18px;    
  }

  /*Home page*/ 
  .navbar-brand {     
    font-size: 40px;       
  }  

  .custom-toggler .navbar-toggler-icon { 
    background-size: 40px 80px;
  }

  .profile-image-wrapper {
    padding-top: 6rem;   
  }

  .profile-image {  
    width: 200px;  
    height: 200px;
    border-radius: 50%;        
  }

  .myName {
    font-size: 3rem;
  }

  /*About me page*/
  .aboutMe-container {    
    background: rgba(255, 255, 255, 0.493);
    width: 550px;
    margin-top: 80px;     
  }
  
  /*Projects page*/
  .card-container {
    margin-top: 60px;
  }

  .card-image {
    display: inline;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
  }

  .fa-linkedin, .fa-github {    
    font-size: 25px;
    padding-bottom: 20px;     
  }
  
  .footer {  
    height: 130px;        
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 24px;    
  } 

/*Home page*/
  .navbar-brand {     
    font-size: 60px;       
  }

  .profile-image-wrapper {
    margin-top: 3rem;   
  }

  .profile-image {  
    width: 350px;  
    height: 350px;
    border-radius: 50%;    
  }

  .myName {
    font-size: 3rem;
  }
  
  /*About me page*/
  .aboutMe-container {    
    background: rgba(255, 255, 255, 0.493);
    width: 600px;
    margin-top: 80px;     
  }

   /*Projects page*/
   .card-container {
    margin-top: 60px;
  }
  
  .card-title {    
    font-weight: bold;
  }

  .card-image {
    display: inline;
  }  

  .fa-linkedin, .fa-github {    
    font-size: 35px;
    padding-bottom: 20px;     
  }

  .footer {  
    height: 200px;        
  }

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  html {
    font-size: 18px;    
  }
  .navbar-custom {   
    font-size: 30px; 
  }

  .navbar-brand {     
    font-size: 50px;  
  }

  .profile-image {  
    width: 250px;  
    height: 250px;
    border-radius: 50%;
  }

  .myName {
    font-size: 60px;
  }
  
    /*About me page*/
    .aboutMe-container {    
      width: 100%;
      margin-top: 150px;      
    }

   /*Projects page*/  
   .card-container {
    margin-top: 100px;
    width: 100%;    
  }  

    .card-image {
      display: inline;     
    } 

  .fa-linkedin, .fa-github {    
    font-size: 30px;
    padding-bottom: 20px;     
  }

  .footer {  
    height: 150px;        
  }

 
}

